PORT=3000
DATABASE_URL="postgresql://postgres:postgres@postgres-db:5432/linguachat"

JWT_SECRET_KEY=SUPER_SECRET_KEY
JWT_EXPIRES_IN=7d

CLIENT_ORIGIN=http://localhost:5000

NODE_ENV=developement

GOOGLE_CLIENT_ID=745993027366-jq3tbdv6nn07dkvssvu0v7vf558c2ftk.apps.googleusercontent.com
RESEND_API_KEY=RESEND_API_KEY
RESEND_FROM_EMAIL=LinguaChat <onboarding@resend.dev>

REDIS_URL=redis://redis:6379